$calendarBackground = #111111
$calendarBorderColor = darken($calendarBackground, 50%)

$monthForeground = #fff
$monthBackground = $calendarBackground

$weekdaysBackground = transparent
$weekdaysForeground = #fff

$dayForeground = alpha(white, 0.95)
$dayHoverBackground = lighten($calendarBackground, 25%)

$todayColor = #ff6600
$today_fg_color = #111

$selectedDayBackground = #ff6600
$selectedDayForeground = #111

@require "../flatpickr"
